<div class="jumbotron lms-jumbotron-small">
    <p>List of users</p>
</div>

<div id="UserGrid" class="lms-grid-container">
</div>


<script>
    $("#UserGrid").lmsGrid({
      source: "@Url.Action("GetAllActive")",
      visibleHead: true,
      sorting: true,
      filtering: true,
      multipleFieldFilter: true,
      paging: true,
      showPrevNext: true,
      showFirstLast: true,
      fields: [
         { label: "Id", name: "Id", type: "int", sorted: true, width: "50px" },
         { label: "Is active", name: "IsActive", type: "bool" },
         { label: "Firstname", name: "Firstname", type: "string" },
         { label: "Lastname", name: "Lastname", type: "string" },
         { label: "Username", name: "Username", type: "string" },
         { label: "Email", name: "Email", type: "string" },
         { label: "Birth date", name: "BirthDate", type: "date" },
         { label: "Creation date", name: "DateTimeCreatedOn", type: "date" }
      ]
   });
</script>