<div class="AdminSidenav">
    @Html.ActionLink("New user", "ViewNewUserPanel", "Administration", new { area = "Administration" },
        new { @class = "AdminSidebarItem", @id = "AdminNewUserLink" })
    @Html.ActionLink("Permissions", "ViewPermissionPanel", "Administration", new { area = "Administration" },
        new { @class = "AdminSidebarItem", @id = "AdminPermissionLink" })
</div>

<div style="margin-left:550px;margin-top:200px;">
    <img src="~/Resources/Images/admin.jpg" />
</div>

