<div class="jumbotron lms-jumbotron-small">
    <p>List of active categories</p>
</div>

<div id="CategoryGrid" class="lms-grid-container">
</div>


<script>
    $("#CategoryGrid").lmsGrid({
      source: "@Url.Action("GetAllActive")",
      visibleHead: true,
      sorting: true,
      filtering: true,
      multipleFieldFilter: true,
      paging: true,
      showPrevNext: true,
      showFirstLast: true,
      fields: [
         { label: "Id", name: "Id", type: "int", sorted: true, width: "40px" },
         { label: "Name", name: "Name", type: "string" },
         { label: "Code", name: "Code", type: "string" },
         { label: "Created by", name: "UserCreatedBy", type: "string", link: "/User/User/AboutUser" },
         { label: "Creation date", name: "DateTimeCreatedOn", type: "date" }
      ]
   });
</script>
