<footer class="lms-footer">
    <p class="copyright">&copy; @DateTime.Now.Year - Library Management Service 
        <span style="float:right">
            <span>| Address: Some street No1 </span>
            <span>| Telephone: 123456789 </span>
            <span>| Email: info@lms.com </span>
            <span>| Working hours: MO-SA: 8:00am - 8:00pm</span>
        </span>
    </p>
</footer>
