.lms-main-container{
   margin: 1%;
}

.lms-navbar-brand {
    padding-bottom: 5px;
    padding-top: 10px;
    /*pointer-events: none;*/
}

.lms-main-banner {
    background-image: url(../Images/ebook_photo.jpg);
}

.lms-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: x-small;
}

.lms-login-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.lms-login-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.lms-login-jumbotron {
    position: relative;
    background-color: #fbda8a;
    border-radius: 10px;
}

.lms-login-btn{
    background-color: #fbda8a;
    width: 100px;
    margin-left: 30%;
    margin-top: 5%;
}

.lms-login-back-link{
    font-size: small;
    color: black;
    margin-left: 35%;
}

.lms-error-label {
    font-style: italic;
    color: red;
}


.lms-jumbotron-small {
    padding: 1em !important;
}

    .lms-jumbotron-small p {
        margin: 0 !important;
    }

.tooltip-ballon-dark {
    background-color: black;
    color: white;
}

.tooltip-inner {
    max-width: 350px;
}