.lms-main-container {
    margin: 1%;
}

.lms-navbar-brand {
    padding-bottom: 5px;
    padding-top: 10px;
    /*pointer-events: none;*/
}

.lms-main-banner {
    background-image: url(../Images/ebook_photo.jpg);
}

.lms-grid-container {
    height: 500px;
}

.lms-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: x-small;
}

.lms-login-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.lms-login-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.lms-login-jumbotron {
    position: relative;
    background-color: #fbda8a;
    border-radius: 10px;
}

.lms-login-btn {
    background-color: #fbda8a;
    width: 100px;
    margin-left: 30%;
    margin-top: 5%;
}

.lms-login-back-link {
    font-size: small;
    color: black;
    margin-left: 35%;
}

.lms-error-label {
    font-style: italic;
    color: red;
}


.lms-jumbotron-small {
    padding: 1em !important;
}

    .lms-jumbotron-small p {
        margin: 0 !important;
    }

/*Info panels styles*/
.InfoOneTextBox {
    margin-top: 100px;
    margin-left: 150px;
    border: 1px solid #edcfcf;
    background-color: antiquewhite;
    border-radius: 5px;
}

.InfoTwoTextBox {
    margin-top: 200px;
    border: 1px solid #edcfcf;
    background-color: antiquewhite;
    border-radius: 5px;
}

.tooltip-ballon-dark {
    background-color: black;
    color: white;
}

.tooltip-inner {
    max-width: 350px;
}

/* Forms styles*/
/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

input.InputWithGlyphicon {
    max-width: 240px;
}

input.SpecificInputType {
    max-width: 280px;
}

.lms-save-button {
    margin-left: 40%;
    width: 80px;
}

    .lms-save-button.with-delete {
        margin-right: 10px;
        width: 110px;
    }

.lms-delete-button {
    margin-right: 10px;
}

.lms-selectpicker {
    padding-left: 0px;
    padding-right: 0px;
}

.lms-selectpicker {
    padding-left: 0px;
    padding-right: 0px;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
    height: 100px;
}


/*Validation tooltips*/
.errorTooltip {
    position: fixed;
    display: inline-block;
    width: 120px;
    z-index: 2;
}

    .errorTooltip .errorTooltipText {
        display: block;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 4px;
        border-radius: 6px;
        position: relative;
        bottom: 50%;
        margin-left: -70px;
    }

        .errorTooltip .errorTooltipText:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            top: 0%;
            right: 98%;
            border: 10px solid transparent;
            border-right: 10px solid #555;
        }

/*Profile page styles*/
.ProfileSidenav {
    height: 93%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
    margin-top: 30px;
}

    .ProfileSidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        cursor: pointer;
    }

        .ProfileSidenav a:not(.ActiveSidebarItem):hover {
            color: #f1f1f1;
        }

a.ActiveSidebarItem {
    color: yellow;
}

.ProfileMainContainer {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.ProfileCurrentlyLoanContainer{
    margin-left: 160px;
    padding: 0px 10px;
}

.ProfileHistoryLoanContainer{
    margin-left: 160px;
    padding: 0px 10px;
}

.SaveProfileInfoForm {
    display: none;
    width: 150px;
    text-align: center;
    margin-left: 350px;
}

#ChangeProfileData {
    margin-left: 10px;
}

#CancelChangeProfileData {
    display: none;
    margin-left: 10px;
}

#ChangePassword {
    margin-left: 10px;
}

.ChangePasswordBtn{
    margin-left: 200px;
    min-width: 100px;
}
