
<div class="col-md-10" style="margin-left:15%;">
    <img src="~/Resources/Images/ebook_photo.jpg" />
</div>

<div class="col-md-10 col-md-offset-1">
    <div class="col-md-4" style="margin-top:10px;">
        <h2>Who we are</h2>
        <p>
            Library management system is not just online library. It is yours and our favorite library management service.
            Whether you are a fan of ordinary books or electronic, here you will find what you are looking for.
        </p>
        <p><a class="btn btn-default" href="/Home/InfoOne">Find more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="margin-top:10px;">
        <h2>Reed book anywhere</h2>
        <p>
            We offer our users plenty of e-books from many different categories. Search for specific one,
            download it and read it wherever and whenever you want.
        </p>
        <br />
        <p><a class="btn btn-default" href="/Home/InfoTwo">Find more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="margin-top:10px;">
        <h2>Chating with book lovers</h2>
        <p>You can easily communicate with people who are on same page as you. Ask our employees, share your impressions about books.</p>
        <br />
        <p><a class="btn btn-default" href="/Home/InfoThree">Find more &raquo;</a></p>
    </div>
</div>



