<div id="InfoThree">
    <img src="~/Resources/Images/info3.jpg" style="margin-left:300px;margin-top:100px;" />
    <div style="width: 500px;margin-left: 450px;margin-top: 50px;">
        <h3 style="text-align:center;">LMS Chat</h3>
        <h4 style="text-align: justify;text-justify: inter-word;">
            To be able to chat with other book lovers and LMS mebers you must became subscriber.
            You can create chat groups, add members and remove them.<br/>
            Chat option is available form personal tab.<br/>
            Be polite and nice to other chat users.
            Bad words and behaviour will be will be sanctioned.
        </h4>
    </div>    
</div>
