<div id="InfoTwo" class="row">
    <div class="col-md-4" style="margin-top:150px;margin-left:200px;">
        <img src="~/Resources/Images/info2.jpg" />
    </div>
    <div class="col-md-4 InfoTwoTextBox">
        <h3 style="text-align:center;">E-book repository</h3><br/>
        <h4 style="text-align: justify;text-justify: inter-word;">
            <b>Become our subscriber!</b>
            At an extra charge of 50$ annualy became able to read books when and where you want!
            Subscribe to one desired category and read as much as you can!<br />
            Contact us by mail or by next visit to our library.<br/>
        </h4>
        <p>Contact mail: <b>info@lms.com</b></p>
    </div>
</div>