<div id="InfoOne" class="row">
    <div class="col-md-6" style="padding-top:150px;padding-left:100px;">
        <img src="~/Resources/Images/info1.png" />
    </div>
    <div class="col-md-4 InfoOneTextBox">
        <h3 style="text-align:center;"><b>Library management system</b></h3>
        <h4 style="text-align:center;"><b>LMS</b></h4>
        <h5 style="text-align: justify;text-justify: inter-word;">
            LMS is library management system designed to managed work in library in support for its employees.<br />
            Our users are our employees and our customers - book readers and library members.<br />
            Why go in library and wait for your book in line?<br />
            <br />
            Check if book you want to read is available for borrow or <b>even better became our subscriber</b> and
            download e-book so you can read it anywhere at anytime!
        </h5>
        <p>For all questions you can send us mail on <b>info@lms.com</b></p>
        <p>We are looking forward to see your questions and you!</p>        
    </div>
</div>