@model LMS.Models.ViewModels.User.UserViewModel

<div class="ProfileSidenav">
    <a id="profileInfo" class="ProfileSidebarItem ActiveSidebarItem">Profile info</a>
    <a id="currentlyLoan" class="ProfileSidebarItem">Current books</a>
    <a id="historyLoan" class="ProfileSidebarItem">History</a>
    <a id="chat" class="ProfileSidebarItem">Chat</a>
</div>

<div class="ProfileMainContainer">    
    @Html.Partial("ProfileInfo", Model)
</div>

<div class="ProfileCurrentlyLoanContainer" style="display:none">
    @{Html.RenderAction("ViewCurrentLoans", "Profile");}
</div>

<div class="ProfileHistoryLoanContainer" style="display:none">
    @{Html.RenderAction("ViewHistoryLoans", "Profile");}
</div>


<script type="text/javascript">
    jQuery(function ($) {
        var $form = $("#ProfileInfoForm");

        $form.removeData("validator");
        $form.removeData("unobtrusiveValidation");

        $form.validate({
            rules: {
                Firstname: "required",
                Lastname: "required",
                Username: {
                    required: true,
                    uniqueUsernameProfile: true
                },
                UserPassword: "required",
                BirthDate: {
                    required: true,
                    date: true,
                },
                Email: {
                    required: true,
                    email: true,
                    uniqueEmailProfile: true
                }
            },
            messages: {
                Firstname: "Firstname is required!",
                Lastname: "Lastname is required!",
                Username: {
                    required: "Username is required!",
                    uniqueUsername: "Username is not unique!"
                },
                UserPassword: "Password is required!",
                BirthDate: {
                    required: "Date of birth is required!",
                    date: "Date of birth must be in date format."
                },
                Email: {
                    required: "Email is required!",
                    email: "Email is not valid!",
                    uniqueEmail: "Email is not unique!"
                }
            }
        });

        var datepickers = $form.find(".DatePicker");
        $(datepickers).each(function () {
            $(this).datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0",
            });
        });

        $("form#ProfileInfoForm :input").each(function () {
            var $input = $(this);
            var id = $input.attr("id");
            id = id + "Profile";
            $input.attr("id", id);
        });
    });
</script>