<div class="jumbotron lms-jumbotron-small">
    <p>List of active languages</p>
</div>

<div id="LanguageGrid" class="lms-grid-container">
</div>


<script>
    $("#LanguageGrid").lmsGrid({
        source: "@Url.Action("GetAllActive")",
        visibleHead: true,
        sorting: true,
        filtering: true,
        multipleFieldFilter: true,
        paging: true,
        showPrevNext: true,
        showFirstLast: true,
        editAction: function (rowId) {
            var dialog = new DialogFactory().createDialog(new DialogTypeEnum().LANGUAGE);
            dialog.open(rowId);
        },
        deleteAction: function(rowId){
            var url = "/Language/Language/Delete/" + rowId;
            new AjaxHttpSender().delete(url);
        },
        cellAction: function (cell) {
            console.log(cell);
            if (cell.field.label === "Created by") {
                var action = cell.field.link;
                var id = cell.id;
                var dialog = new DialogFactory().createDialog(action);
                dialog.open(id);
            }
        },
        fields: [
           { label: "Id", name: "Id", type: "int", sorted: true, width: "40px" },
           { label: "Languge", name: "Name", type: "string" },
           { label: "Code", name: "Code", type: "string" },
           { label: "Id", name: "UserCreatedById", type: "int", style: "hidden" },
           { label: "Created by", name: "UserCreatedBy", type: "string", link: "/User/User/About" },
           { label: "Creation date", name: "DateTimeCreatedOn", type: "date" }
        ]
    });
</script>