<div class="jumbotron lms-jumbotron-small">
    <p>List of languages</p>
</div>

<div id="LanguageGrid" class="lms-grid-container">
</div>


<script>
    $("#LanguageGrid").lmsGrid({
      source: "@Url.Action("GetAllActive")",
      visibleHead: true,
      sorting: true,
      filtering: true,
      multipleFieldFilter: true,
      paging: true,
      showPrevNext: true,
      showFirstLast: true,
      fields: [
         { label: "Id", name: "Id", type: "int", sorted: true, width: "50px" },
         { label: "Is active", name: "IsActive", type: "bool" },
         { label: "Languge", name: "Name", type: "string" },
         { label: "Code", name: "Code", type: "string" },
         { label: "Created by", name: "UserCreatedBy", type: "string", link: "/User/User/AboutUser" },
         { label: "Creation date", name: "DateTimeCreated", type: "date" }
      ]
   });
</script>