@{
    ViewBag.Title = "Index";
}

<div class="row" id="ribbon-container">
    @Html.Action("Ribbon", "Overview", new { area = "Book"})
</div>
<div class="row" id="ribbon-item-view">
    <div id="sidebar-container">
    </div>
    <div id="panel-container">
    </div>
</div>
