<div class="jumbotron lms-jumbotron-small">
    <p>List of available book copies</p>
</div>

<div id="BookCopyGrid" class="lms-grid-container">
</div>


<script>
    $("#BookCopyGrid").lmsGrid({
      source: "@Url.Action("GetAvailableCopies")",
      visibleHead: true,
      sorting: true,
      filtering: true,
      multipleFieldFilter: true,
      paging: true,
      showPrevNext: true,
      showFirstLast: true,
      rowClickable: false,
      addAction: function (rowId) {
          var dialog = new DialogFactory().createDialog(new DialogTypeEnum().LOAN);
          dialog.open(rowId);
      },
      deleteAction: function(rowId){
          var url = "/Book/BookCopy/Delete/" + rowId;
          new AjaxHttpSender().delete(url);
      },
      cellAction: function (cell) {
          if (cell.field.label === "Created by") {
              var action = cell.field.link;
              var id = cell.id;
              var dialog = new DialogFactory().createDialog(action);
              dialog.open(id);
          }
      },
      fields: [
         { label: "Copy id", name: "Id", type: "int", sorted: true, width: "40px" },
         { label: "Book", name: "BookAuthorAndTitle", type: "string" },
         { label: "Id", name: "UserCreatedById", type: "int", style: "hidden" },
         { label: "Created by", name: "UserCreatedBy", type: "string", link: "/User/User/About" },
         { label: "Creation date", name: "DateTimeCreatedOn", type: "date" }
      ]
   });
</script>