@using LMS.Infrastructure.HtmlHelpers

<ul class="nav nav-pills nav-stacked sidebar">
    <li class="lms-sidebar-item">
        @Html.SidebarItem("refresh", "Refresh", "Refresh content", style: "RefreshSideBar")
    </li>
    <li class="lms-sidebar-item">
        @Html.SidebarItem("filter", "Filter", "Filter content of the table", style: "FilterSideBar")
    </li>
</ul>
